.notification {
  position: fixed;
  z-index: 99999;
  top: 5vw;
  right: 2em;

  &__item {
    border: 0.2rem solid rgb(255, 81, 0);
    border-radius: 0.25em;
    position: relative;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 81, 0);
    padding: 0.5em;
    display: flex;
    margin-bottom: 1em;
  }
  &__message {
    padding: 0 2.5rem 0 0.5em;
  }
  &__imageContainer {
    max-height: 5rem;
    max-width: 5rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__button {
    border: 0.2rem solid rgb(255, 81, 0);
    border-radius: 0.25em;
    height: 2rem;
    width: 2rem;
    color: rgb(255, 81, 0);
    background-color: transparent;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: rgb(255, 81, 0);
    }
  }
}
