.home {
  position: relative;
  &__products {
    padding: 0 2em 5rem;
    position: absolute;
    top: 20vw;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 3rem;

    @media screen and (max-width: 30em) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    & > * {
      justify-self: center;
    }
  }
}
