.checkout {
  display: flex;

  &__left {
    flex: 2;
  }
  &__right {
    flex: 1;
  }
  &__list {
    padding: 1em 0;
  }
}

.item {
  padding: 1em;
  background-color: #fff;
  border: 0.1rem solid #ccc;
  display: flex;
  margin-bottom: 1rem;

  &__checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__count {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    &Number {
      min-width: 5rem;
      text-align: center;
    }
  }
  &__button {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &_add {
      background-color: #000;
      border-radius: 0.25em;
      border-color: #000;
      svg {
        fill: #fff;
        font-size: 1.8rem;
      }
    }
    &_remove {
      background-color: #fff;
      border-radius: 0.25em;
      border-color: #000;

      svg {
        fill: #000;
        font-size: 1.8rem;
      }
    }
  }

  &__price {
    display: inline-block;
    min-width: 7rem;
    text-align: right;
    white-space: nowrap;
  }

  &__total {
    font-weight: bold;
  }

  &__imageContainer {
    max-height: 12rem;
    max-width: 12rem;
    width: max-content;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__content {
    flex: 1;
    padding: 0.5em 1em;
  }
}
