.header {
  background-color: #131921;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 45em) {
    padding: 4em 1em 0.5em;
  }

  &__logoContainer {
    padding: 0.5em 0;
    margin: 0 1em 0 0;
    width: 6em;
    max-width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 45em) {
      position: absolute;
      top: 0.5em;
      left: 50%;
      transform: translateX(-50%);
      flex-basis: 100%;
      height: 5rem;
    }
  }
  &__location {
    padding: 0.5em 0;
    display: flex;
    align-items: center;

    @media screen and (max-width: 45em) {
      order: 1;
    }
    @media screen and (max-width: 25em) {
      display: none;
    }

    svg {
      fill: #fff;
      height: 2rem;
      width: 2rem;
      margin-right: 0.5em;
    }

    div {
      display: flex;
      flex-direction: column;
    }

    span:nth-of-type(1) {
      color: #ccc;
      font-size: 0.8em;
    }
    span:nth-of-type(2) {
      color: #fff;
    }
  }
  &__form {
    margin: 0 1em;
    flex: 1;
    display: flex;
    border-radius: 0.25em;
    border: 0.3rem solid transparent;

    @media screen and (max-width: 45em) {
      flex-basis: 100%;

      margin: 0;
    }

    &_focused {
      border: 0.3rem solid #febd69;
      padding: -1rem;
    }

    input {
      flex: 1;
      padding: 0.5em;
      border: 0;
      border-radius: 0.25em 0 0 0.25em;

      &:focus {
        border-radius: 0;
        border: 0;
        outline: none;
      }
    }
    button {
      padding: 0.25em 0.5em;
      background-color: #febd69;
      border: 0;
      border-radius: 0 0.25em 0.25em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &__nav {
    display: flex;
    @media screen and (max-width: 45em) {
      flex: 1;
      order: 1;
      justify-content: flex-end;
    }
    @media screen and (max-width: 25em) {
      justify-content: space-between;
    }
    &Item {
      border: 0;
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0.5em;
      display: flex;
      flex-direction: column;

      span:nth-of-type(1) {
        color: #ccc;
        font-size: 0.8em;
      }
      span:nth-of-type(2) {
        color: #fff;
      }
    }
    &Cart {
      span:nth-child(1) {
        display: flex;
        // justify-content: center;
        align-items: center;

        .header__cartCount {
          font-weight: bold;
          font-size: 1.5rem;
          color: orange;
          padding: 0 0.25em;
        }
        svg {
          fill: #fff;
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}
