html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eaeded;
  font-size: 1.4rem;
  color: #0f1111;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
